<div class="profile-info">
            
    <div class="profile-info-line">
      <i class="fas fa-envelope"></i> <strong>E-mail:</strong>
      <span>catarine.sntsmail.com</span>
    </div>
    <div class="profile-info-line">
      <i class="fas fa-phone"></i> <strong>Telefone:</strong>
      <span>55 11 97456-6329</span>
    </div>
    <div class="profile-info-line">
      <i class="fas fa-birthday-cake"></i> <strong>Data de Nascimento:</strong>
      <span>25/08/2000</span>
    </div>
    <div class="profile-info-line">
      <i class="fas fa-venus"></i> <strong>Gênero:</strong>
      <span>Feminino</span>
    </div>
  </div>

  <div class="profile-social">
    <strong>Adicionar:</strong>
    <div class="social-icons">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>